<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add to Room</title>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center">
                <div id="approved_user">

                    <h2 class="text-center">Approving user</h2>
                    <table class="table table-bordered">
                        <thead>
                            <tr id="colum1">

                            </tr>
                        </thead>
                        <tbody id="row1">
                            <tr>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div id="room_info">

                    <h2 class="text-center">Room infomations</h2>
                    <table class="table table-bordered">
                        <thead>
                            <tr id="colum2">

                            </tr>
                        </thead>
                        <tbody id="row2">
                            <tr>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <div id="user_in_room">
        <div class="container">
            <h2 class="text-center">Users in room</h2>
            <table class="table table-bordered">
                <thead>
                    <tr id="colum3">

                    </tr>
                </thead>
                <tbody id="row3">

                </tbody>
            </table>
        </div>

    </div>

    <script>
        var roomId = window.location.href.split('/')[window.location.href.split('/').length - 2];
        $.ajax({
            url: "/approving_room",
            type: "GET",
            success: function (data) {
                // console.log(data)
                listKey = Object.keys(data[0])

                $("#colum1").append(`
                    <th>${listKey[0]}</th>
                    <th>${listKey[2]}</th>
                    <th>${listKey[3]}</th>`)

                for (j = 0; j < data.length; j++) {
                    $("#row1").append(`
                    <tr><td>${data[j].username}</td>
                        <td>${data[j].user_status}</td>
                        <td>${data[j]._id}</td></tr>`)
                }
            }
        })



        $.ajax({
            url: `/add_to_room/${roomId}`,
            type: "GET",
            success: function (data) {
                console.log(data);
                listKey = Object.keys(data)

                $("#colum2").append(`
                <th>${listKey[2]}</th>
                <th>${listKey[3]}</th>
                <th>${listKey[4]}</th>
                <th>${listKey[5]}</th>`)


                $("#row2").append(`
                    <tr><td>${data.building}</td>
                        <td>${data.room_status}</td>
                        <td>${data.room_id}</td>
                        <td>${data.room_price}</td></tr>`)

                for (i = 0; i < data.members.length; i++) {
                    $("#row3").append(`<tr>
                            <td>${ data.members[i].username}</td>
                            <td>${ data.members[i].user_status}</td>
                            <td>${ data.members[i].phone_number}</td></tr>`)
                }

            }
        })

        var approved_userID = window.location.href.split('/')[window.location.href.split('/').length - 1];
        $.ajax({
            url: `/approved_user/${approved_userID}`,
            type: "GET",
            success: function (data) {
                console.log(data)
                listKey = Object.keys(data)
                $("#colum3").append(`
                <th>${ listKey[2]}</th>
                <th>${ listKey[0]}</th>
                <th>${ listKey[5]}</th>`)

                $("#row3").append(`<tr>
                    <td>${ data.username}</td>
                    <td>${ data.user_status}</td>
                    <td>${ data.phone_number}</td>
                    <td><button id="confirm">Confirm</button></td>
                    <td><button id="cancel">Cancel</button></td></tr>`)

                $("#confirm").click(function () {
                    window.location.href = `/confirm_add_user/${data._id}/${roomId}`;
                })
                $("#cancel").on("click", () => {
                    window.location.href = `/notApproved/${data._id}`
                })
            }
        })

    </script>
</body>

</html>