<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ready Rooms</title>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/style3.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h3>Note(Example for searching)</h3>
                <ul>
                    <li>builing: B3</li>
                    <li>floor: 1</li>
                    <li>room: 105</li>
                </ul>
                <h3>=> search: B31105</h3>
            </div>

            <div>
                <input style="width: 700px;height: 30px" id="myInput" type="text" placeholder="Searching room...">
                <button type="button">Search</button>
            </div>
            <div id="ready">

            </div>
        </div>
    </div>


    <script>
        $("button").on("click", () => {
            $("#ready").html("")
            const search = $("#myInput").val()
            $.ajax({
                type: "GET",
                url: `/get_room_ready/${search}`,
                success: function (data) {
                    $("#ready").append(`<button><a href="/data_user_approving/${data._id}"><div>${data.room_id}</div></a></button>`)
                }
            })
        })

    </script>
</body>

</html>