<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style2.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <title>Manage Manager</title>
</head>

<body>
    <div class="middle">
        <div class="table">
            <form class="filter-form">
                <p>Sắp xếp theo tòa nhà</p>
                <div id="filter_checkbox">
                    <p>B3</p>
                    <input type="radio" name="building" value="B3" class="building">
                    <p>B5</p>
                    <input type="radio" name="building" value="B5" class="building">
                    <p>B6</p> 
                    <input type="radio" name="building" value="B6" class="building">
                    <p>B7</p>
                    <input type="radio" name="building" value="B7" class="building">
                    <p>B8</p>
                    <input type="radio" name="building" value="B8" class="building">
                    <p>B9</p>
                    <input type="radio" name="building" value="B9" class="building">
                    <p>B10</p>
                    <input type="radio" name="building" value="B10" class="building">
                    <p>B13</p>
                    <input type="radio" name="building" value="B13" class="building">
                </div>
                <br>
                <p>Sắp xếp theo trạng thái phòng</p>
                <div id="filter_checkbox">
                    <p>Sẵn sàng</p>
                    <input type="radio" name="status" value="ready">
                    <p>Chưa sẵn sàng</p>
                    <input type="radio" name="status" value="not_ready">
                </div>
                <br>
                <p>Sắp xếp theo số lượng người</p>
                <div id="filter_checkbox">
                    <p>Đủ</p>
                    <input type="radio" value="enough" name="amount">
                    <p>Chưa đủ</p>
                    <input type="radio" value="not_enough" name="amount">
                </div>
                <br>
                <p>Sắp xếp theo giá phòng</p>
                <div id="filter_checkbox">
                    <p>400k</p>
                    <input type="radio" value="400" name="price">
                    <p>200k</p>
                    <input type="radio" value="200" name="price">
                </div>
                <br>
                <p>Sắp xếp theo loại phòng</p>
                <div id="filter_checkbox">
                    <p>Nam</p>
                    <input type="radio" value="male" name="gender">
                    <p>Nữ</p>
                    <input type="radio" value="female" name="gender">
                    <p>Khác</p>
                    <input type="radio" value="other" name="gender">
                </div>
                <br>
                <button type="submit" id="findRoom">Lọc</button>
                <br>
            </form>
            <br>
            <a href="/add_room_form">
                <button>Thêm phòng mới</button>
            </a>
            <br>
            <br>
            <table style="width:100%">

            </table>
        </div>
    </div>
    <div class="menu">
        <div class="item" id="defined">
            <p id="username"><i class="fas fa-user-tie"></i>&ensp;&ensp;:&ensp;Admin</p>
        </div>
        <li class="item" id="information">
            <a href="#information" class="btn"><i class="fas fa-info"></i>Thông tin cá nhân<i class="fas fa-plus"></i></a>
        </li>

        <li class="item" id="manageRoom">
            <a href="/manage_room_manager" class="btn"><i class="fas fa-bell"></i>Quản lý phòng<i
                    class="fas fa-plus"></i></a>
            
        </li>
        <li class="item" id="manageRequest">
            <a href="/manage_request_manager" class="btn"><i class="fas fa-bell"></i>Quản lý yêu cầu<i
                    class="fas fa-plus"></i></a>
        </li>
        <li class="item" id="manageFee">
            <a href="/manage_fee_manager" class="btn"><i class="fas fa-bell"></i>Quản lý phí<i class="fas fa-plus"></i></a>
        </li>
        <li class="item">
            <a class="btn" id="log_out"><i class="fas fa-sign-out-alt"></i>Đăng xuất</a>
        </li>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src = "../../js/manager/manage_rooms.js"></script>
    <script src="../../js/manager/checkLogin.js"></script>

</body>

</html>