<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style2.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <title>Manage Manager</title>
</head>
<body>
    <div class = "middle">
            <div  class ="table">
                    <form action="" class="add_manager_form">
                        <h3>Tên đăng nhập Manager</h3>
                        <br>
                        <input class="username" type="text" required>
                        <br>
                        <h3>Tên đầy đủ</h3>
                        <br>
                        <input class="fullname" type="text" required>
                        <br>
                        <h3>Mật khẩu</h3>
                        <br>
                        <input class="password" type="password" required>
                        <br>
                        <h3>CMND</h3>
                        <br>
                        <input class="identifyCard" type="number" required>
                        <br>
                        <h3>Số điện thoại</h3>
                        <br>
                        <input class="phone" type="number" required>
                        <br>
                        <h3>Email</h3>
                        <br>
                        <input class="email" type="email" required>
                        <br>
                        <h3>Sinh nhật</h3>
                        <br>
                        <input class="birth" type="date" required>
                        <br>
                        <br>
                        <button type="submit">Tạo mới</button>
                    </form>
                </div>
            </div>
        <div class="menu">
            <div class="item" id="defined">
                <p id="username"><i class="fas fa-user-tie"></i>&ensp;&ensp;:&ensp;Admin</p>
            </div>
            <li class="item" id ="information">
                <a href="#information" class="btn"><i class="fas fa-info"></i>Information<i class="fas fa-plus"></i></a>
                <div class="smenu">
                    <a href="#">The Newest Informations</a>
                </div>
            </li>

            <li class="item" id="manageRoom">
                <a href="#manageRoom" class="btn"><i class="fas fa-bell"></i>Manage Room<i class="fas fa-plus"></i></a>
                <div class="smenu">
                    <a href="#">Add Student to room</a>
                    <a href="/room_map">Room's map and update room info</a>
                </div>
            </li>

            <li class="item" id="manageManager">
                <a href="#manageManager" class="btn"><i class="fas fa-bell"></i>Manage Manager<i class="fas fa-plus"></i></a>
            </li>
            <li class="item">
                <a href="/homepage" class="btn" id="log_out" ><i class="fas fa-sign-out-alt"></i>Logout</a>
            </li>
    </div>
    <script src="../js/add_manager.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</body>
</html>