<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <title>admin</title>
</head>
<body>
    <h3 id ="username">username</h3>
    <h3 id="id_user">id_user</h3>
    <h1>admin page</h1>
    <button id="logout">log out</button>
    <form action="">
        <h3>Room name</h3>
        <input type="text" name="room_name">
        <h3>Building</h3>
        <input type="text" name="building">
        <h3>Room price</h3>
        <input type="text" name="room_price">
    </form>
    
    <script src="../js/admin.js"></script>
</body>
</html>